[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pyinstaller = ">=3.6"
mypy = "*"

[packages]
openpyxl = "*"
pysimplegui = "*"
pytest = "*"

[requires]
python_version = "3.8"
